﻿@model IEnumerable<AsyncDemo.Models.Countries>

@{
    ViewData["Title"] = "ListSync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Syncronously Fetching from list</h2>


<div>
    <br />
    <label class="btn btn-primary"> Excecution Time</label>
    @if (ViewBag.WatchMilliseconds != null)
    {
        <h1 class="label label-danger">@ViewBag.WatchMilliseconds millisecond</h1>
    }

</div>

<ol>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ol>

