﻿@model IEnumerable<MvcApi.Models.Employee>

@{
    ViewBag.Title = "empView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>empView</h2>

<p>
    @Html.ActionLink("Create New", "empCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.ActionLink("Edit", "empEdit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "empDelete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@*<br /><br />
      <h2>ADD NEW EMPLOYEE</h2>
<br /><br />

      <form id="add" onsubmit="addEmp()" method="post">
          first name<input type="text" onclick="" name="fname" /><br />
          last name<input type="text" onclick="" name="lname" /><br />
          gender<input type="text" onclick="" name="gender" /><br />
          salary<input type="number" onclick="" name="salary" /><br />
          Department Id<input type="number" onclick="" name="number" /><br />

          <button>ADD</button><br />

      </form>

        <script>

            function addEmp()
            {

            }
        </script>*@
